
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="../HelloClass/GreetUser" method="post">
    <input class="form-control" type="text" name="Name" value="" />
    <input class="form-control" type="number" name="Number" />
    <input class="form-control" type="submit" value="Hello!" />
</form>