
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form action="../Hello/GreetUser" method="post">
    <input type="text" name="name" value="Grant Chirpus" />
    <input type="number" min="1" name="number" />
    <input type="submit" value="Submit" />
</form>