
@{
    ViewData["Title"] = "Index";
}

@model List<Cat>

<h1>Index</h1>

<form action="../Cat/SaveCat" method="post">
    <input type="text" name="Name" value="" />
    <input type="text" name="Color" value="" />
    <input type="number" min="0" max="25" name="Age" value="" />

    <input type="submit" value="Save the kittens!" class="btn-outline-info" />
</form>

@if (Model != null)
{
    foreach (Cat cat in Model)
    {
        <p>@cat.Name is @cat.Color and @cat.Age years old.</p>

    }
}

<a class="btn-info" asp-area="" asp-controller="Cat" asp-action="ClearCats">Clear Cat Session</a>

